<div class="footer clearfix">
  <span>&copy; OnlinePay {{ year }} </span>
  <div class="footer-links">
    <a routerLink="home" routerLinkActive="active"> Home </a>
    <span class="link-divider">|</span>
    <a href="#">About</a>
    <span class="link-divider">|</span>
    <a href="#">Privacy</a>
    <span class="link-divider">|</span>
    <a href="Online Pay" target="_blank" rel="noopener noreferrer">
      Contact
    </a>
    <span class="link-divider">|</span>
    <a href="Online Pay" target="_blank" rel="noopener noreferrer">
      Online Pay
    </a>
  </div>
</div>
