<div class="slide-modal-content">
  <img id="mainImage" [src]="mainImage ? mainImage.url : '/'" style="display: block;">
  <div class="img-slides" *ngFor="let image of images; let i = index">
    <img width="500px" [src]="images ? image.url : '/'">
  </div>
  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>
  <hr />
  <div class="image-row">
    <div class="image-column" *ngFor="let image of images; let i = index">
      <img class="images" width="30px" height="60px" (click)="currentSlide(i+1)" [src]="image ? image.url : '/'">
    </div>
  </div>
</div>
<!-- </div> -->
