<ng-template ngFor let-child let-i="index" [ngForOf]="root ? item : item.items">
  <li
    [ngClass]="{ 'active-menuitem': isActive(i) }"
    [class]="child.badgeStyleClass"
    *ngIf="child.visible === false ? false : true"
  >
    <a
      [href]="child.url || '#'"
      (click)="itemClick($event, child, i)"
      *ngIf="!child.routerLink"
      [attr.tabindex]="!visible ? '-1' : null"
      [attr.target]="child.target"
      (mouseenter)="hover = true"
      (mouseleave)="hover = false"
    >
      <i [ngClass]="child.icon"></i>
      <span>{{ child.label }}</span>
      <i
        class="pi pi-fw pi-angle-down ui-menuitem-toggler"
        *ngIf="child.items"
      ></i>
      <span class="menuitem-badge" *ngIf="child.badge">{{ child.badge }}</span>
    </a>

    <a
      (click)="itemClick($event, child, i)"
      *ngIf="child.routerLink"
      [routerLink]="child.routerLink"
      routerLinkActive="active-menuitem-routerlink"
      [routerLinkActiveOptions]="{ exact: true }"
      [attr.tabindex]="!visible ? '-1' : null"
      [attr.target]="child.target"
      (mouseenter)="hover = true"
      (mouseleave)="hover = false"
    >
      <i [ngClass]="child.icon"></i>
      <span>{{ child.label }}</span>
      <i
        class="pi pi-fw pi-angle-down ui-menuitem-toggler"
        *ngIf="child.items"
      ></i>
      <span class="menuitem-badge" *ngIf="child.badge">{{ child.badge }}</span>
    </a>
    <ul
      app-submenu
      [item]="child"
      *ngIf="child.items"
      [@children]="isActive(i) ? 'visible' : 'hidden'"
      [visible]="isActive(i)"
      [parentActive]="isActive(i)"
    ></ul>
  </li>
</ng-template>
